# IntelliJ IDEA files
.idea/
*.iml

# Compiled class file
target/

# Logs
*.log

# Maven and Gradle files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
/.mvn/wrapper/maven-wrapper.jar
/.gradle/
gradle/
build/
out/
*.jar

# Other system files
.DS_Store
Thumbs.db